# Ignorar tudo da pasta output_data_cnae, exceto arquivos .xlsx
output_data_cnae/*
!output_data_cnae/**/*.xlsx
!output_data_cnae/*.xlsx

# Ignorar tudo da pasta input_data, exceto arquivos .csv
input_data/*
!input_data/**/*.csv
!input_data/*.csv

# Ignorar o arquivo checkpoint.txt
checkpoint.txt

# Ignorar arquivos .xlsx em todas as outras pastas (menos os permitidos acima)
*.xlsx
!output_data_cnae/*.xlsx
!output_data_cnae/**/*.xlsx



